*{
    padding: 0;
    margin: 0;
}
ul {
    list-style:none;
}
.index_container{
    width: 1349px;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.header_nav{
    width: 100%;
    height: 670px;
    background-color: pink;
}

.header_nav_container{
    width: 100%;
    height: 82px;
    position: absolute;
    z-index: 999;
}
.header_nav_container_main{
    width: 1240px;
    height: 82px;
    margin: 0 auto;
}
.header_nav_logo{
    float: left;
    padding: 28px 0;
}
.header_nav_container_items ul{
    width: 665px;
    height: 82px;
    line-height: 82px;
    float: left;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.header_nav_container_items ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.header_nav_container_items ul li a:hover{
    color: blue;
}
.hid_show1{
    width: 1349px;
    height: 0;
    position: absolute;
    margin-top: 0;
    left: 0;
    display: none;
    transition: height 20s;
    -moz-transition:height 20s; /* Firefox 4 */
    -webkit-transition:height 20s; /* Safari and Chrome */
    -o-transition:height 20s; /* Opera */
}
.hid_show1_flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.hid_show1_list{
    width: 168px;
    height: 100%;
}
.hid_show1 img{
    width: 120px;
    height: 150px;



}
.item1:hover .hid_show1{
    display: block;
    width: 1349px;
    height:250px;
    background-color: white;
}
.item1:hover .header_nav_container{
    display: block;
    background-color: white;
}
.header_nav_container_search{
    width: 170px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #999;
    border-radius: 20px;
    background: #fff;
    margin-top: 25px;
    float: left;
}
.header_nav_container_search input{
    width: 127px;
    height: 20px;
    margin-left: 12px;
    font-size: 12px;
    border:0;
    color: #333;
}
.header_nav_container_user{
    width: 29px;
    height: 29px;
    float: left;
    margin-top: 27px;
    margin-left: 15px;

}
.header_nav_container_cart{
    width: 29px;
    height: 29px;
    float: left;
    margin-top: 27px;
    margin-left: 15px;

}
.header_nav_lb{
    position: relative;
    margin:0;
    width:100%;
    height:100%;
    z-index: 888;

}
#wrap {
    position:relative;
    width:100%;
    height:100%;
    border:1px solid #9cc5ef;
    overflow:hidden;
}
#slider {
    width:800%;
    height:100%;
    font:100px/400px Microsoft Yahei;
    text-align:center;
    color:#fff;
    margin-left:0;
    -webkit-animation:slide1 10s ease-out infinite;
}
#slider li {
    float:left;
    width:1349px;
    height:100%;
}
#slider img{
    width:100%;
    height:100%;
}
/*动画策略*/
@-webkit-keyframes slide1 {
    0%,10% { margin-left:0;}
    13%,23% { margin-left:-100%;}
    26%,36% { margin-left:-200%;}
    39%,49% { margin-left:-300%;}
    52%,62% { margin-left:-400%;}
    65%,75% { margin-left:-500%;}
    78%,88% { margin-left:-600%;}
    91%,100% { margin-left:-700%;}
}
/*当我们点击对应按钮时显示对应的动画*/
#first:checked ~ #wrap #slider {
    -webkit-animation-name:slide1;
}
#second:checked ~ #wrap #slider {
    -webkit-animation-name:slide2;
}
#third:checked ~ #wrap #slider {
    -webkit-animation-name:slide3;
}
#fourth:checked ~ #wrap #slider {
    -webkit-animation-name:slide4;
}
#fifth:checked ~ #wrap #slider {
    -webkit-animation-name:slide5;
}
#sixth:checked ~ #wrap #slider {
    -webkit-animation-name:slide6;
}
#seventh:checked ~ #wrap #slider {
    -webkit-animation-name:slide7;
}
#eighth:checked ~ #wrap #slider {
    -webkit-animation-name:slide8;
}

/*短暂地取消动画名称，模拟重启动画*/
#first:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:0;
}

#second:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-100%;
}

#third:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-200%;
}
#fourth:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-300%;
}
#fifth:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-400%;
}
#sixth:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-500%;
}
#seventh:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-600%;
}
#eighth:active ~ #wrap #slider {
    -webkit-animation-name:none;
    margin-left:-700%;
}
#opts {
    width: 208px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 16px/30px Microsoft Yahei;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -104px;
}
#opts label {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: #f4f1f1;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #867a7a;
}
#opts label:hover {
    background:#405871;
}
/* 隐藏Input按钮*/
#first, #second, #third, #fourth, #fifth ,#sixth,#seventh,#eighth{
    display: none;
}











.container{
    width: 100%;
    height: 9157px;
    background-color: deepskyblue;
}
.footer{
    width: 100%;
    height: 248px;
    background-color: bisque;
}